<html>
        <head>
            <title>Daysi Fernandez</title>
        </head>
        <body>
            <h1><strong>Bienvenidos a mi pagina</strong></h1>
            <br />
            <h2><em>Diseño y producción</em></h2>
            <p>Aqui encontraras todos los diseños q realizamos</p>
            <br />
            <div>
            <h3><a href="">Catalogo</a></h3>
            <a href="https://daysifernandez.pythonanywhere.com">link</a>
            <div>
            <div>
            <ul><li>Cel: 70679838</li><li>La Paz Bolivia</li></ul>
            <div>
        </body>
    </html>